.env
.idea
docker-compose.override.yml
/homepage/logs
/homepage/*.yaml
/sonarr
!/sonarr/.gitkeep
/radarr
!/radarr/.gitkeep
/prowlarr
!/prowlarr/.gitkeep
/lidarr
!/lidarr/.gitkeep
/readarr
!/readarr/.gitkeep
/qbittorrent
!/qbittorrent/.gitkeep
/wireguard
!/wireguard
/letsencrypt
!/letsencrypt/.gitkeep
/jellyfin
!/jellyfin/.gitkeep
/sabnzbd
!/sabnzbd/.gitkeep
